/* colors */
$blue: #003B5D;
$light-blue: #5AB2E8;
$black: #262626;
$text-grey: #6D6E71;
$header-blue: #003c5c;
$dark-grey: #2b2b2d;

/* old colors from JCLDC */
$green: #067747;
$hr-green: #087746;
$footer-green: #00382B;
$sitemap-green: #004D3B;
$mint: #B1DDC9;
$secondary-nav-green: #77EC9B;
$grey: #666;
$light-grey: #b6b7b9;
$icon-grey: #B9B9BA;
$off-white: #F3F3F3;

/* old colors from gopep */
$text-red: #FF3E32;
$orange: #FF7F0F;
$button-red: #EF4035;
$text-orange: #F57F26;

