/* Footer */

footer {
	background: $black;
	box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.36);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	overflow: hidden;
	padding-top: 35px;
	position: relative;
}

// Headers

.footer-header {
	color: #fff;
	border-bottom: 3px solid $light-blue;
	font-family: 'Forza A', 'Forza B';
	font-size: 19px;
}

footer .widget-block h2 {
	display: none;
}


// Recent News

ul.news-list {
	margin: 0;
	padding: 0;
	.item {
		border-bottom: 1px solid $light-grey;
		padding: 8px 0;
	}
	.Title a {
		color: #fff;
		&:hover {
			color: $light-blue;
		}
	}
	.Date {
		color: $light-grey;
	}
}


// Useful Links

ul.LinksList {
	li {
		border-bottom: 1px solid $light-grey;
	}
	a {
		color: #fff;
		display: inline-block;
		padding: 8px 0;
		&:hover {
			color: $light-blue;
		}
	}
}


// Contact Info

footer .contact-info {
	color: $light-grey;
	padding: 8px 0;
	.contact-name {
		color: #fff;
		font-weight: 700;
	}
	a {
		color: $light-grey;
	}
}

footer .social-media {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		float: left;
		a {
			color: $light-grey;
			font-size: 22px;
			padding: 0 10px 0 0;
		}
	}
}


// Copyright

#copyright {
	color: #fff;
	font-family:'Neue Helvetica W01';
	font-size: 13px;
	overflow: hidden;
	padding: 25px 0;
	@include breakpoint(medium) {
		text-align: left;
	}
	a {
	color: $light-blue;
		&:hover {
			color: $light-grey;
		}
	}
}


// Site Map

#site-map-link {
	color: $light-blue;
	cursor: pointer;
	float: right;
	font-weight: 600;
}

#footer-bottom {
	background: #3F4042;
	display: none; 
}

#sitemap {
	margin: 45px 0 30px;
	.CMSSiteMapList .CMSSiteMapListItem .CMSSiteMapList {
		display: block;
	}
	ul {
		list-style: none; 
		margin: 0 auto; 
		padding: 0; 
		text-align: left;
		width: 90%;
		li {
			float: left;
			margin: 0 5% 0 0;
			width: 12%;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: #fff;
				font-family: 'RamaGothicE-Regular';
				font-size: 20px; 
				font-weight: 600;
				&:hover {
					color: $light-grey; 
				}
			}
		}
	}
}

#sitemap ul li ul {
	padding-top: 5px;
	width: auto;
	li {
		float: none; 
		width: 100%; 
		a {
			display: inline-block;
			font-family:'Neue Helvetica W01';
			font-size: 12px;
			font-weight: 400;
			padding: 5px 0;
			text-transform: none;
			&:hover {
				color: $light-grey;
			}
		}
	}
}

#footerButtonClose {
	background: url("/ogden/images/site-map-x.png");
	cursor: pointer;
	display: inline-block;
	height: 36px;
	position: absolute;
	right: 25px;
	width: 36px;
}