/* home */


// Page Wrapper 

.homeWrapper {
	position: relative;
	padding: 0;
	width: 100%;
}


// Headers

.homeWrapper {
	.smart-city-header {
		background: rgba(221,221,221,0.8);
		padding: 10px 15px;
		width: 100%;
		@include breakpoint(medium) {
			background: rgba(255,255,255,0.8);
			height: 60px;
		}
		.editable-text {
			background: transparent;
			color: $blue !important;
			display: inline-block;
			font-family: 'Forza A', 'Forza B';
			font-size: 28px !important;
			padding: 0 !important;
			&:hover {
				color: $blue;
			}
		}
	}
}


// Three Widget Area 

.homeWrapper {
	.columnOuterWrapper {
		position: absolute;
		top: 150px;
		width: 100%;
		@include breakpoint(medium) {
			bottom: 35px;
			top: auto;
		}
		.row {
			@include breakpoint(medium) {
				-webkit-align-items: flex-end;
				align-items: flex-end;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
			}
		}
		.col-md-4 {
			margin-bottom: 45px;
			@include breakpoint(medium) {
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-webkit-flex-direction: column;
				flex-direction: column;
				margin-bottom: 0;
				max-height: 60px;
				height: 60px;
				overflow: hidden;
				transition: max-height 0.5s, margin 0.5s;
			}
			a.learn-more,
			a#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzHero_ColumnsSmartCity_ColumnsSmartCity_l1_Link_SmartCity_btnElem_hyperLink {
				color: #fff;
				font-size: 0;
				line-height: 50px;
				transition: height 0.5s;
				span {
					transition: font-size 0.5s;
				}
				&:hover {
					color: $light-grey;
				}
				@include breakpoint(medium) {
					height: 0;
					padding: 0;
					transition: height 0.5s;
				}
			}
		}
		ul.news-list,
		.editable-text,
		.widget-block {
			color: $black;
			font-size: 12px;
			margin: 0;
			padding: 0;
			a {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
			@include breakpoint(medium) {
				font-size: 0;
				height: 0;
				transition: height 0.5s, padding 0.5s;
			}
		}
		ul.news-list {
			margin: 0;
		}
		.widget-block {
			background: #fff;
		}

	}
}




// Web Part Hover
.homeWrapper .columnOuterWrapper .col-md-4:hover {
	height: auto;
	max-height: 700px;
	a span {
		font-size: 14px;
	}
	.editable-text {
		@include breakpoint(medium) {
			font-size: 12px;
			padding: 20px 15px;
			height: 210px;
		}
		@include breakpoint(large) {
			height: 168px;
		}
	}
	a#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzHero_ColumnsSmartCity_ColumnsSmartCity_l1_Link_SmartCity_btnElem_hyperLink {
		height: 50px;
	}
	.editable-text, 
	.learn-more,
	.teaser-wrapper,
	.widget-block {
		@include breakpoint(medium) {
			display: block !important;
		}
	}
	ul.news-list {
		background: $black;
		display: block !important;
		height: 260px;
		@include breakpoint(large) {
			height: auto;
		}
	}
	.widget-block {
		font-size: 12px;
		height: auto;
		padding: 20px 15px 55px;
	}
	.SidebarText a {
	  display: block;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 50%;
	  background: #5AB2E8;
	  line-height: 50px;
	  height: 50px;
	  text-align: center;
	}
}

.homeWrapper .columnOuterWrapper .col-md-4:nth-child(2) .SidebarText a {
  width: 100%;
}

#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzHero_ColumnsSmartCity_ColumnsSmartCity_l1_Link_SmartCity1_btnElem_hyperLink {
	display: none;
}


// View All Links

.col-md-4:hover #p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzHero_ColumnsSmartCity_ColumnsSmartCity_l1_Link_SmartCity1_btnElem_hyperLink {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 50%;
  background: $light-blue;
  line-height: 50px;
  height: 50px;
  text-align: center;
}

.view-all-button {
	display: none;
}

.col-md-4:hover .view-all-button {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 90%;
  background: $black;
  line-height: 50px;
  height: 50px;
  text-align: center;
}

a#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzHero_ColumnsSmartCity_ColumnsSmartCity_l2_Link_SmartCity1_btnElem_hyperLink {
	color: $black;
	position: absolute;
	right: 35px;
	top: 5px;
}

a#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzHero_ColumnsSmartCity_ColumnsSmartCity_l1_Link_SmartCity_btnElem_hyperLink {
	color: #fff;
	display: block;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}


// News Widget
.homeWrapper {
.news-item {
	a.link {
		// display: none;
	}
}

ul.news-list {
	padding: 0;
	.mCSB_container {
		padding: 0;
	}
	li {
		padding: 20px 15px;
		margin: 0;
	}
	li:hover {
	}
	li:nth-child(1) {
		border-bottom: 2px dashed $blue;
	}
	li:nth-child(n+3) {
		display: none;
	}
	.title {
		font-size: 16px;
		font-weight: 700;
		&:hover {
			color: $light-blue;
		}
	}
	.date {
		color: #fff;
		font-size: 12px;
	}
	.description {
		color: #fff;
		font-size: 12px;
	}
}

}


// Open Content Area

.homeWrapperBottom {
	padding: 50px 0;
	text-align: center;
	.smart-city-header .editable-text {
		font-family: 'Forza A', 'Forza B';
		font-size: 28px
	}
	.editable-text {
		font-family:'Neue Helvetica W01';
		font-size: 12px;
		margin-bottom: 15px;
	}
	a#p_lt_wpzPagePlaceholder_pageplaceholder_p_lt_wpzOpenContent_ColumnsSmartCity1_ColumnsSmartCity1_l1_Link_SmartCity_btnElem_hyperLink {
		@include button(#fff,$light-blue,$blue,5px)
	}
}	