/* Navigation */

// Utility Nav

header {
	color: #fff;
	text-align: right;
}

.nav.social-media {
	display: inline-block;
	a {
		background: none !important;
		color: #fff;
		padding: 0 5px 12px;
	}
}

#headerPhoneNum {
	color: $light-grey;
	display: inline-block;
	float: none !important;
	font-weight: 500;
	margin: 0;
  padding: 11px 5px 0 15px;
  vertical-align: top;
	.OfficePhone {
		color: #fff;
		display: inline-block;
		padding-right: 20px;
	}
	a {
		color: #fff;
	}
}

.fa-search {
	display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}

#utilityNav {
	display: inline-block;
	float: none;
	a {
		color: #fff;
	}
}


// Main Nav
nav {
	background: #fff;
	border-bottom: 2px solid $hr-green;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	position: relative;
	z-index: 5;
	#menuElem {
		display: table;
		height: 90px;
		overflow: auto;
		width: 100%;
		@include breakpoint(large) {
		}
		li { 
			display: table-cell;
			float: none;
			position: relative;
			vertical-align: middle;
			&:nth-last-child(1) ul {
				right: 0;
			}
			&:hover {
				background: $footer-green;
				> a {
					color: #fff;
				}
			}
			a {
				color: $black;
				padding: 10px 12px;
				@include breakpoint(large) {
					padding: 10px 20px;
				}
			}
			ul {
				background: $footer-green;
				top: 100%;
				width: 225px;
				li {
					border: none;
					display: inline-block;
					width: 100%;
					a {
						color: #fff;
						&:hover {
							background: $mint;
							color: $footer-green;
						}
					}
				}
			}
		}
		> li > a {
			max-width: 130px;
			text-align: center;
		}
	}
}


// Secondary Nav 
#sideNavigation {
	background: $blue;
	padding: 0;
	.SectionHeaderRepeater {
		background: $text-grey;
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 700;
		margin: 0 -15px;
		padding: 10px 20px;
	}
	#menuElem {
		margin: 0;
		a {
			color: #fff;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
		}
		ul {
			padding-left: 0;
		}
		li a:hover {
			background: $light-blue
		}
		li a {
			padding-left: 15px;
		}
		li li a {
			font-weight: 400;
			padding: 3px 25px 3px;
		}
	}
}